h1 {
  color: blue;
  text-align: center;
}

h2 {
  margin-left: 1rem;
}

.trackLink:hover {
  color: red;
}

.artistLink:hover {
  color: red;
}

.artistLink {
  display: flex;
}

td,
tr th {
  text-align: center;
}
