.albumInfo {
  margin: 1rem;
  height: 90vh;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.4em;
  padding: 0.5em;
  border-bottom: solid 1.5px #b8b8b8;
}

tr {
  display: table-row;
  vertical-align: middle;
}

td {
  position: relative;
  height: 40px;
  padding: 0.5em;
  border-bottom: solid 0.5px #b8b8b8;
}

.trackLink :hover {
  color: red;
}

@media only screen and (max-width: 600px) {
  th {
    font-size: 1em;
    padding: 0.1em;
  }

  td {
    position: relative;
    height: 40px;
    padding: 0.1em;
    font-size: 1em;
  }
}
